<div class="chat">
    <div class="chat-message" >
        <div scroll-glue>
            <div ng-repeat="message in messages">
                <div class="comment">
                    <p>
                        <strong>{{message.user.name}}:</strong><br>
                        <span>{{message.data}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-textbox">
        <form ng-submit="send()">
            <input ng-model="textbox" class="chat-textbox">
        </form>
    </div>
</div>