<div class="container-fluid" align="center">



    <div class="row">
        <div class="player">
            <h5>Louange B.</h5>
            <img src="https://avatars.io/platform/userId" alt="">
            <p>
                12
            </p>
        </div>
        <br>
    </div>

    <div class="row">

        <div class="col-md-offset-2 col-md-1">

            <div class="side">

                <div id="left-player" class="player pull-right">
                    <h5>Louange B.</h5>
                    <img src="https://avatars.io/platform/userId" alt="">
                    <p>
                        12
                    </p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div id="game-room" class="panel panel-primary panel panel-body">


                <!--Game board -->
                <div id="game-board" class="panel panel-default panel panel-body">

                    <div id="player-1-cards" class="player-cards-wrapper-h">

                    </div>

                    <div id="player-2-cards" class="player-cards-wrapper-h">

                    </div>

                    <div id="player-3-cards" class="player-cards-wrapper-v">

                    </div>

                    <div id="player-4-cards" class="player-cards-wrapper-v">

                    </div>

                    <div id="center-cards" class="player-cards-wrapper-h">

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-1">

            <div class="side">

                <div id="left-player" class="player pull-right">
                    <h5>Louange B.</h5>
                    <img src="https://avatars.io/platform/userId" alt="">
                    <p>
                        12
                    </p>
                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="player">
            <h5>Louange B.</h5>
            <img src="https://avatars.io/platform/userId" alt="">
            <p>
                12
            </p>
        </div>

    </div>


    <br>

</div>
